<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
 
    <!-- On déclare notre dispatcher -->
    <servlet>
        <servlet-name>contrast-finder</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
            On définit le modèle des url qui seront réparties par le dispatcher,
            dans notre exemple on filtre toutes les url se terminant par .mvc
    -->
    <servlet-mapping>
        <servlet-name>contrast-finder</servlet-name>
        <url-pattern>/form.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrast-finder</servlet-name>
        <url-pattern>/result.html</url-pattern>
    </servlet-mapping>
 
<!--      On liste les pages d'accueil 
    
    -->    
    <welcome-file-list>
        <welcome-file>form.html</welcome-file>
    </welcome-file-list>
 
</web-app>