/* Composant natifs HTML */ 
body {
    background: linear-gradient(#F4F4F4, #F8F8F8);
}

/* Surcharge bootstrap*/ 
.help-block {
    font-size : 12px;
}

/* Vue formulaire*/

#lang-switcher {
    text-align: right;
    float:right;
}

.cercle{
    float:right;
    width:100px;
    height:55px;
    border-radius: 0.3em;
    margin-right: 5px;
}

.color-codes {
    font-size:0.95em;
    list-style: none;
    padding: 0;
}

.col01 {width:22%;}
.col02 {width:22%;}
.col03 {width:6%;}
.text-sample p {margin:0}

footer {
    padding-top: 0;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    border-top: none;
    font-size: 13px;
}